.welcome-page {

  text-align: center;
  background-color: rgba(189, 189, 189, 1);


  .logo {


    img {

    }

  }

  .page-inner {
  }

  h1 {
    color: #fff;
    font-weight: 300;
    font-size: 2rem;
    margin: 0 0 6rem;
  }

  .input-group {
    width: 80%;
  }

  .button {
    margin-bottom: 2rem;
  }
}