.login-page {
  text-align: center;
  background-color: #3fbeca;


  h1 {
    margin-bottom: 8rem;
  }

  .input-group {

    .item {
      border-radius: 20px 20px 0 0;
    }
    .item:last-child {
      border-radius: 0 0 20px 20px;
    }

  }


  .footer {

    position: absolute;
    bottom: 0;


    .toolbar-background {
      background-color: transparent;
      border: none;
    }

    .left {}

    .right {

    }

  }



}